<header *ngIf="nav.visible">
	<a href="/">
		<img class="templatelogo" src="../../../assets/images/logo-template.png">
	</a>
	<nav class="templatenav">
		<li>
			<form id="searchThis" class="search-form">
				<input id="searchBox" class="search-field" value="Search Problems" type="text">
				<input href="#searchModal" id="searchButton" class="search-submit" value="Go" type="submit" data-remodal-target="searchModal">
			</form>
		</li>
		<div class="search-modal-container">
			<div class="remodal" data-remodal-id="searchModal">
				<button data-remodal-action="close" class="remodal-close"></button>
				<div class="goldendecor">
					<h1 class="modal-header">Search Results</h1>
				</div>
				<div id="searchProblemList" class="search-problem-list">
					
				</div>
			</div>
		</div>

		<li><a href="/" class="link1">Diagnose</a></li>

		<li>
			<a href="#askModal" id="ask" class="link2" data-remodal-target="askModal">Post a Problem</a>
		</li>
		<div class="askmodal-container">
			<div class="remodal" data-remodal-id="askModal">
				<button data-remodal-action="close" class="remodal-close"></button>
				<form class="newProblem">
					<input id="userId" type="hidden" value="userId">
					<div class="goldendecor">
						<h1 class="modal-header">Post a Problem</h1>
					</div>

					<h4 class="modaltext">Choose Bike:</h4>
					<div class="select-brand-model-year containerDropdown">
						<div class="bikeFeature">
							<div id="brandSelect" class="systems-dropdown"></div>
						</div>
						<div class="bikeFeature">
							<div id="yearSelect" class="systems-dropdown"></div>
						</div>
						<div class="bikeFeature">
							<div id="modelSelect" class="systems-dropdown"></div>
						</div>
						<div class="bikeFeature">
							<h4 class="modaltext-1">Choose System:</h4>
							<div id="systemSelect" class="systems-dropdown"></div>
						</div>
					</div>

					<br>
					<h4 class="modaltext">Enter a title for your post:</h4>
					<input id="probTitle" class="problemtitle-field" type="text" name="probTitle" value="">
					<h4 class="modaltext">Describe your problem:</h4>
					<textarea id="probText" type="text" name="probText" value="" rows="10" cols="65"></textarea>
					<p class="counterAsk" id="counter"></p>
					<br>
					<input id="newProbSubmit" class="submit-button" data-remodal-action="close" type="submit" value="Submit">
				</form>
			</div>
		</div>

		<li>
			<a href="#answerModal" id="answer" class="link3" data-remodal-target="answerModal">Solve a problem</a>
		</li>
		<div class="answermodal-container">
			<div class="remodal" data-remodal-id="answerModal">
				<button data-remodal-action="close" class="remodal-close"></button>
				<div class="goldendecor">
					<h1 class="modal-header">Solve a problem</h1>
				</div>
				<div id="modalProblemList" class="unsolved-problems-list"></div>
			</div>
		</div>

		<li><a class="link4" href="#">My Account</a>
			<ul class="dropdown">
				<li class="droplist">
					<a href="#notifyModal" id="notify" class="link2" data-remodal-target="notifyModal">
						Notifications
					</a>
				</li>
				<li class="droplist"><a href="/profile/">Profile</a></li>
				<li class="droplist"><a href="/logout/">Log Out</a></li>
			</ul>
		</li>

		<div class="notifications-modal-container">
			<div class="remodal" data-remodal-id="notifyModal">
				<button data-remodal-action="close" class="remodal-close"></button>
				<div class="goldendecor">
					<h1 class="modal-header">Notifications</h1>
				</div>
				<div id="notifyList" class="notification-list"></div>
			</div>
		</div>
	</nav>
</header>

	